<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/entry.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet" />
    <title>MuStAnG</title>
</head>

<nav class="navbar navbar-light bg-light navtext">
    <a class="navbar-brand" href="/home"><img src="images/Mustang-logo-old-2048x2048.png" width="85" height="85" class="d-inline-block align-inside"
        alt="mustang logo" />
    Mustang</a>
        
    
</nav>

<body>
    <img src="images\thumb-1920-910871.jpg" alt="" class="image">

<a style="text-decoration: none;"href="/home"><h1 class="text">ford mustang</h1></a>

 
</body>

</html>