<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ac22bc3df2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/requestform.css" />
    <!-- bootstrap javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
        <!-- jquery google cdn -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>MuStAnG</title>
</head>

<body>
    <div class="wrapper">
        <form class="login" action="/request" method="POST">
            <p class="title">Drive Request Form</p>
            <input type="text" placeholder="Name" name="requestName" autocomplete="off" autofocus />
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Surname" name="requestSurname" autocomplete="off" />
            <i class="fa fa-user"></i>
            <input type="email" placeholder="E-mail" name="requestEmail" autocomplete="off" />
            <i class="fa fa-at"></i>
            <a href="#">Are you Ready to drive?</a>
            <button type="submit" >
                <i class="spinner"></i>
                <span class="state">Submit</span>
            </button>
        </form>
        <footer><a target="blank" href="#">mustang@mustang</a></footer>
        </p>
    </div>
    <script>
        var working =false;
        $('.login').on('submit', function (e) {
            e.preventDefault();
            if (working) return;
            working = true;
            var $this = $(this),
                $state = $this.find('button > .state');
            $this.addClass('loading');
            $state.html('Authenticating');
            setTimeout(function () {
                $this.addClass('ok');
                $state.html('request send!');
                setTimeout(function () {
                    $state.html('Log in');
                    $this.removeClass('ok loading');
                    working =false;
                }, 4000);
            }, 3000);
        });
    </script>
</body>

</html>